@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

html {
    line-height: 1.6;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', san-serif;
    font-weight: 400;
    background-color: #e6ebe6;
}

Header.header {
    width: 60%;
    margin: 0 auto;
    margin-top: 2.5rem;
    color: #e1e2e6;
    background-color: #79a9e7;
    border-radius: 1.2rem;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);

    & h1 {
        text-align: center;
        text-shadow: 1px 1px 2px #333;
        padding: 1.2rem 3rem;
        font-size: 5rem;
        font-weight: 400;
    }
}

.main {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & .content {
        width: 60%;
        // padding: 1.5rem 2.2rem;
        background-color: #fff;
        box-shadow: 2px 2px 3px #aaa;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & #map {
            flex: 1 1 50%;
            height: 100%;
            min-height: 34.2rem;

            & h1 {
                font-size: 1.6rem;
                margin-bottom: 5px;
            }

            & p {
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        & #info {
            flex: 1 1 50%;
            font-size: 1.6rem;
            padding: 0.7rem 2rem;

            & #user,
            & #company {
                border-radius: 2rem;
                border-spacing: 0;
                overflow: hidden;
                border: 1px solid rgba(0, 0, 0, 0.3);
            }

            & table {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                & .header {
                    // text-align: right;
                    font-size: 2.5rem;
                    font-weight: 300;
                    color: #fff;
                    background-color: #79a9e7;
                    // border-radius: 1rem 1rem 0 0;
                }

                & tbody {
                    & tr {
                        display: flex;
                        justify-content: space-between;

                        & td {
                            padding: 0.3rem 1rem;
                        }
                        & td:nth-child(1) {
                            font-style: italic;
                        }
                        & td:nth-child(2) {
                            text-align: right;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
